<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Thêm mới sản phẩm</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/style_toast.css}">
    <link rel="stylesheet" th:href="@{/css/style_product.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37fd11320d.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="body-overlay"></div>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><span>Shop electronics</span></h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a th:href="@{/home}" class="dashboard">
                    <i class="material-icons">dashboard</i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>

            <li class="active">
                <a th:href="@{/v1/admin/product}">
                    <i class="material-icons">aspect_ratio</i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>

            <li>
                <a th:href="@{/v1/admin/order}">
                    <i class="material-icons">library_books</i>
                    <span>Quản lý đơn hàng</span></a>
            </li>

            <li>
                <a th:href="@{/v1/admin/category}">
                    <i class="material-icons">apps</i>
                    <span>Quản lý danh mục</span>
                </a>
            </li>


            <li>
                <a th:href="@{/v1/admin/brand}">
                    <i class="material-icons">extension</i>
                    <span>Quản lý thương hiệu</span>
                </a>
            </li>
            <li>
                <a th:href="@{/v1/admin/coupons}">
                    <i class="material-icons">discount</i>
                    <span>Quản lý mã giảm giá</span>
                </a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <div class="top-navbar">
            <div th:insert="~{fragments/topbar.html :: div}" class="xp-topbar"></div>
            <div class="xp-breadcrumbbar text-center">
                <h4 class="page-title">Thêm sản phẩm</h4>
            </div>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <h2 class="ml-lg-2">Thêm mới sản phẩm</h2>
                                </div>
                                <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                                    <a th:href="@{/v1/admin/product}" class="btn btn-success">Quản lý sản phẩm</a>
                                </div>
                            </div>
                        </div>
                        <div th:if="${message != null}" class="mt-3 alert alert-success" role="alert">
                            <span th:text="${message}"></span>
                        </div>
                        <div th:if="${error != null}" class="mt-3 alert alert-success" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="container-fluid mt-3">
                            <form th:action="@{/v1/admin/product/add}" method="post" enctype="multipart/form-data">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="productName">Tên sản phẩm</label>
                                        <input type="text" class="form-control" name="name" id="productName" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="quantity">Số lượng bán</label>
                                        <input type="number" class="form-control" name="quantity" id="quantity" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="originalPrice1">Giá gốc</label>
                                        <input type="number" class="form-control" name="price" id="originalPrice1" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="discount1">Giảm giá (%)</label>
                                        <input type="number" class="form-control" name="discount" id="discount1" required>
                                    </div>
                                </div>
                                <div class="form-group product-image">
                                    <label>Hình ảnh sản phẩm</label>
                                    <a id="choseFile" class="btn btn-outline-primary ml-3">Chọn ảnh</a>
                                        <input type="file" id="imageInput" name="image_url" accept="image/*" required hidden="hidden">
                                        <img id="previewImage" src="/img/no-image-news.png" alt="Preview" style="max-width: 300px; display: block;"/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Mô tả</label>
                                    <textarea class="form-control" name="description" id="description" rows="5" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="brand_id">Chọn thương hiệu</label>
                                    <input id="brand_id" name="brand_id" hidden="hidden" required>
                                    <div class="brand-buttons">
                                        <button th:each="brand : ${brands}" type="button"
                                                class="btn btn-secondary btn-sm"
                                                th:text="${brand.name}" th:value="${brand.id}"></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category_id">Chọn danh mục</label>
                                    <input id="category_id" name="category_id" hidden="hidden" required>
                                    <div class="category-buttons">
                                        <button th:each="category : ${categories}" type="button"
                                                class="btn btn-secondary btn-sm"
                                                th:text="${category.name}" th:value="${category.id}"></button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Thông số kỹ thuật</label>
                                    <div class="features-container" >
                                        <input type="hidden" id="features-input" name="featuresInput" />
                                        <button id="add-feature" type="button" class="btn btn-success btn-small mt-2">
                                            <i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary text-right" id="add-btn">Thêm sản phẩm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:insert="~{fragments/modal.html :: div}"></div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="footer-in">
                    <p>&copy 2024 Shop electronics - Mọi quyền được bảo lưu.</p>
                </div>
            </div>
        </footer>
    </div>
</div>


<div id="toastBox"></div>
<script>
    document.getElementById('imageInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById('previewImage');
                img.src = e.target.result;
                img.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
    document.querySelector('#choseFile').addEventListener('click', function() {
        document.getElementById('imageInput').click();
    });
</script>

<script src="/js/script_toast.js"></script>
<script src="/js/script_product2.js"></script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>

</body>

</html>


