<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
        <div class="xp-menubar">
                               <span class="material-icons text-white">signal_cellular_alt
							   </span>
        </div>
    </div>

    <div class="col-md-5 col-lg-3 order-3 order-md-2">
        <div class="xp-searchbar">
        </div>
    </div>

    <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
        <div class="xp-profilebar text-right">
            <nav class="navbar p-0">
                <ul class="nav navbar-nav flex-row ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-toggle="dropdown">
                            <div style="background-color: #2a2f3a; color: white; border-radius: 20px; padding: 8px 16px; display: inline-block; font-family: Arial, sans-serif; font-size: 16px; position: relative;">
                                <span th:text="${admin.name}"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu small-menu">
                            <li>
                                <a href="#" data-toggle="modal" data-target='#modalId'>
                                    <span class="material-icons">person_outline</span>Hồ sơ
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target='#modalChangePassword'>
                                    <span class="material-icons">password</span>Đổi mật khẩu
                                </a>
                            </li>
                            <li>
                                <a href="#"><span class="material-icons">logout</span>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>