<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Admin dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/style_toast.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/37fd11320d.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <div class="body-overlay"></div>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><span>Shop electronics</span></h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a th:href="@{/home}" class="dashboard">
                    <i class="material-icons">dashboard</i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>

            <li>
                <a th:href="@{/v1/admin/product}">
                    <i class="material-icons">aspect_ratio</i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>

            <li class="active">
                <a th:href="@{/v1/admin/order}">
                    <i class="material-icons">library_books</i>
                    <span>Quản lý đơn hàng</span></a>
            </li>

            <li>
                <a th:href="@{/v1/admin/category}">
                    <i class="material-icons">apps</i>
                    <span>Quản lý danh mục</span>
                </a>
            </li>


            <li>
                <a th:href="@{/v1/admin/brand}">
                    <i class="material-icons">extension</i>
                    <span>Quản lý thương hiệu</span>
                </a>
            </li>
            <li>
                <a th:href="@{/v1/admin/coupons}">
                    <i class="material-icons">discount</i>
                    <span>Quản lý mã giảm giá</span>
                </a>
            </li>
            <li>
                <a th:href="@{/v1/admin/statistic}">
                    <i class="material-icons">equalizer</i>
                    <span>Thống kê</span>
                </a>
            </li>

        </ul>
    </nav>

    <div id="content">
        <div class="top-navbar">
            <div th:insert="~{fragments/topbar.html :: div}" class="xp-topbar"></div>
            <div class="xp-breadcrumbbar text-center">
                <h4 class="page-title">Quản lý đơn hàng</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Quản lý đơn hàng</li>
                </ol>
            </div>
        </div>

        <div class="main-content">
            <div class="row">

                <div class="col-md-12">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                    <h2 class="ml-lg-2">Quản lý đơn hàng</h2>
                                </div>
                                <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                                    <!--                                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">-->
                                    <!--                                        <i class="material-icons">&#xE15C;</i> <span>Delete</span></a>-->
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Ngày đặt</th>
                                <th>Tài khoản</th>
                                <th>Trạng thái</th>
                                <th>Tổng tiền</th>
                                <th>Xem chi tiết</th>
                                <th>Hủy đơn</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.id}"></td>
                                <td th:text="${order.getOrderDateFormat}"></td>
                                <td th:text="${order.user.email}"></td>
                                <td th:text="${order.status}"></td>
                                <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
                                <td>
                                    <a th:href="@{'/v1/admin/order/' + ${order.id}}" class="btn btn-outline-primary">
                                        Xem
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-outline-danger" >
                                        Hủy
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="footer-in">
                    <p>&copy 2024 Shop electronics - All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>


<div id="toastBox"></div>

<script src="/js/script_toast.js"></script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>

</body>

</html>


