<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/style_toast.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/37fd11320d.js" crossorigin="anonymous"></script>
    <style>
        .card-header {
            background-color: #343a40;
            color: white;
        }
        .card-footer {
            background-color: #343a40;
            color: white;
        }
        .user-image {
            max-width: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .user-details {
            margin-top: 20px;
        }
        .user-details th {
            width: 30%;
        }
        .user-details td {
            width: 70%;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .table th, .table td {
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ddd;
            width: 50%;
        }
        .table th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="body-overlay"></div>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3><span>Shop electronics</span></h3>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a th:href="@{/home}" class="dashboard">
                    <i class="material-icons">dashboard</i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>

            <li>
                <a th:href="@{/v1/admin/product}">
                    <i class="material-icons">aspect_ratio</i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>

            <li>
                <a th:href="@{/v1/admin/order}">
                    <i class="material-icons">library_books</i>
                    <span>Quản lý đơn hàng</span></a>
            </li>

            <li >
                <a th:href="@{/v1/admin/category}">
                    <i class="material-icons">apps</i>
                    <span>Quản lý danh mục</span>
                </a>
            </li>

            <li>
                <a th:href="@{/v1/admin/brand}">
                    <i class="material-icons">extension</i>
                    <span>Quản lý thương hiệu</span>
                </a>
            </li>
            <li>
                <a th:href="@{/v1/admin/coupons}">
                    <i class="material-icons">discount</i>
                    <span>Quản lý mã giảm giá</span>
                </a>
            </li>

        </ul>
    </nav>

    <div id="content">
        <div class="top-navbar">
            <div th:insert="~{fragments/topbar.html :: div}" class="xp-topbar"></div>
            <div class="xp-breadcrumbbar text-center">
                <h4 class="page-title">Chi tiết người dùng</h4>
            </div>
        </div>

        <div class="container main-content">
            <div class="card">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                            <h4 class="ml-lg-2" style="font-size: large;">Chi Tiết Tài khoản</h4>
                        </div>
                        <div class="col-sm-6 p-0 d-flex justify-content-lg-end justify-content-center">
                            <a th:href="@{/home}" class="btn btn-primary mr-2">Trở về</a>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <img th:if="${user.imageUrl != null}" th:src="@{${user.imageUrl}}" class="user-image img-fluid" alt="User Image">
                    <img th:if="${user.imageUrl == null}" th:src="@{'/img' + '/avatar_default.jpg'}" class="user-image img-fluid" alt="User Image">
                    <h4 th:text="${user.name}"></h4>
                    <div class="user-details">
                        <table class="table table-borderless table-hover">
                            <tbody>
                            <tr>
                                <th>Mã người dùng</th>
                                <td><span th:text="${user.id}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><span th:text="${user.email}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Tên người dùng</th>
                                <td><span th:text="${user.name}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Ngày Tạo</th>
                                <td><span th:text="${user.date_created}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Ngày Cập Nhật</th>
                                <td ><span th:text="${user.date_updated}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Số điện thoại</th>
                                <td><span th:text="${user.phoneNumber}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            <tr>
                                <th>Giới tính</th>
                                <td><span th:text="${user.gender}" class="small-text" style="font-size: small;"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:insert="~{fragments/modal.html :: div}"></div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <div class="footer-in">
                    <p>&copy 2024 Shop electronics - All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
</div>

<div id="toastBox"></div>

<script src="/js/script_toast.js"></script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>

</body>

</html>


